/.phpunit.cache
/node_modules
/storage/*.index
/public/hot
/storage/
/public/storage/*
public/storage/

/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.htaccess

storage/*.key
storage/*.pem
storage/app/public/*
