.bookingPageTop {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    h1 {
        color: $w;
        font-family: $libBold;
        font-size: 3rem;
        margin-bottom: 40px;
    }
}
.bookingPageMain {
    background-color: $w;
    padding: 80px 0;

    .formWrap {
        .stepBanner {

        }
        form {
            .row {
                margin-bottom: 20px
            }
            label {
                color: $darkBlue;
                font-family: $libBold;
                font-size: 1rem;
                display: block;
                margin-bottom: 5px;

                width: 100%;
            }
            input[type='text'],
            input[type='tel'],
            input[type='email'],
            input[type='date'],
            input[type='time'],
            input[type='number']{
                background-color: $w;
                border: 0;
                border-bottom: 1px solid $darkBlue;
                border-radius: 0;
                color: $darkBlue;
                font-family: $libReg;
                font-size: 1rem;
                padding: .5rem;
                @include transition(all .4s ease-in-out);
                width: 100%;

                &:focus {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid $darkGold;
                    border-radius: 0;
                    box-shadow: none;
                    color: $darkBlue;
                    outline: none;
                    text-decoration: none;
                }
            }
            select {
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $darkBlue;
                border-radius: 0;
                color: $darkBlue;
                font-family: $libReg;
                font-size: 1rem;
                padding: .5rem;
                @include transition(all .4s ease-in-out);
                width: 100%;

                &:focus {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid $darkGold;
                    box-shadow: none;
                    color: $darkBlue;
                    outline: none;
                    text-decoration: none;
                }
            }
        }
        .backBtn {
            background-color: $darkBlue;
            border: 0;
            border-radius: 5px;
            color: $w;
            font-family: $libBold;
            font-size: 1rem;
            padding: 1rem 2rem;
            text-align: center;
            text-decoration: none;
            @include transition(all .4s ease-in-out);

            i {
                margin-right: 5px;
                @include transition(all .4s ease-in-out);
            }

            &:hover {
                background-color: $darkGold;
                border: 0;
                border-radius: 5px;
                color: $w;
                outline: none;
                text-decoration: none;

                i {
                    margin-right: 15px;
                }
            }
        }
        .nextBtn {
            background-color: $darkBlue;
            border: 0;
            border-radius: 5px;
            color: $w;
            font-family: $libBold;
            font-size: 1rem;
            padding: 1rem 2rem;
            text-align: center;
            text-decoration: none;
            @include transition(all .4s ease-in-out);

            i {
                margin-left: 5px;
                @include transition(all .4s ease-in-out);
            }

            &:hover {
                background-color: $darkGold;
                border: 0;
                border-radius: 5px;
                color: $w;
                outline: none;
                text-decoration: none;

                i {
                    margin-left: 15px;
                }
            }
        }
    }
}
