#homepageTop {
    height: 800px;
    overflow: hidden;
    position: relative;

    img.mainBgImage {
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .content {
        align-items: center;
        background-color: rgba(0, 44, 80, .35);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;;
        height: 100%;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        .inner {
            padding-top: 75px;

            h1 {
                color: $w;
                font-family: $libBold;
                font-size: 3rem;
                margin-bottom: 40px;
                span {
                    color: $darkGold;
                    display: block;
                    font-size: 5rem;
                    width: 100%;
                }
            }
            p {
                color: $w;
                font-family: $libReg;
                font-size: 1.15rem;
            }
        }
    }
    img.bottomWave {
        bottom: -50px;
        display: block;
        height: 200px;
        object-fit: cover;
        position: absolute;
        width: 100%;
    }
}
#homepageWelcomeBanner {
    background-color: $darkBlue;
    padding: 2rem 0 4rem 0;

    img {
        border-radius: 40px;
        display: block;
        height: auto;
        width: 100%;
    }

    h2 {
        color: $darkGold;
        font-family: $libBold;
        font-size: 3rem;
        margin-bottom: 30px;
    }
    p {
        color: $w;
        font-family: $libReg;
        font-size: 1rem;
        font-style: italic;

        &:last-of-type {
            margin-bottom: 50px;
        }
    }
}
#homepageHomeFromHomeBanner {
    background-color: $w;
    padding: 60px 0;

    h5 {
        color: $mediumGrey;
        font-family: $libItal;
        font-size: 1rem;
        font-style: italic;
    }
    h2 {
        color: $darkGold;
        font-family: $libBold;
        font-size: 3rem;
        margin-bottom: 30px;
    }
    p {
        color: $mediumGrey;
        font-family: $libReg;
        font-size: 1rem;
        font-style: italic;
        &:last-of-type {
            margin-bottom: 50px;
        }
    }
    a.darkGoldBtn {}

    .homeFromHomeSlider {
        margin: auto;
        width: 85%;
        .item {
            .card {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                .card-header {
                    background-color: transparent;
                    border: 0;
                    border-radius: 0;
                    padding: 0;

                    img {
                        height: auto;
                        max-height: 300px;
                        object-fit: cover;
                        width: 100%;
                    }
                }
                .card-body {
                    background-color: transparent;
                    border: 0;
                    border-radius: 0;
                    padding: 1rem 0;

                    h3 {
                        color: $darkBlue;
                        font-family: $libBold;
                        font-size: 1.5rem;
                        font-style: italic;

                    }
                }
            }
        }
        .owl-dots {
            button.owl-dot {
                margin-right: 20px;
                span {
                    background-color: transparent;
                    border: 1px solid $darkGrey;
                    border-radius: 100%;
                    display: block;
                    content: '';
                    height: 10px;
                    @include transition(all .4s ease-in-out);
                    width: 10px;
                }
                &.active {
                    span {
                        background-color: $darkBlue;
                        border: 1px solid $darkBlue;
                    }
                }
            }
        }
    }
}
#homepageBookRoomBanner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    text-align: center;

    h4 {
        color: $w;
        font-family: $libBold;
        font-size: 3rem;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p {
        color: $w;
        font-family: $libReg;
        font-size: 1rem;
        margin-bottom: 30px;
    }
}
