header {
    .topBar {

        ul.contactDetails {
            flex-direction: row;
            gap: 5px;
            margin-bottom: 10px;
            justify-content: center;
        }
        ul.socialLinks {
            display: none;
        }
    }
    .noticesBanner {
        padding: .25rem;

        button {
            font-size: .9rem;
        }
    }
    .navbar {
        margin-top: -20px;
        padding-top: 0;
        .navbar-brand {
            img {
                height: 100px;
                margin-bottom: -40px;
            }
        }
        #frontendMainNavbar {
            padding: 3rem .5rem 1rem .5rem;
        }
        ul {
            li {
                margin-bottom: 5px;
            }
        }
    }
}
#homepageTop {
    height: 500px;
    .content {
        .inner {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}
#homepageWelcomeBanner {
    img {
        margin-bottom: 30px;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}
#homepageHomeFromHomeBanner {
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    .homeFromHomeSlider {
        display: block;
        margin-top: 50px;
        width: 100%;
    }
}
#homepageBookRoomBanner {
    h4 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}
#aboutUsPageTop {
    height: 250px;
    h1 {
        font-size: 2rem;
    }
}
#aboutPageBannerOne {
    padding: 80px 0;
    h2 {
        font-size: 2rem;
    }
}
#aboutPageBannerTwo,
#aboutPageBannerThree{
    padding: 40px 0;
    img.mainImg {
        display: block;
        margin-bottom: 30px;
        width: 100%;
    }

    h3 {
        margin-top: 30px;
    }
}
#barRestaurantPageTop {
    height: 300px;
    h1 {
        font-size: 2rem;
    }
    .btn-group {
        .darkGoldBtn,
        .blueBtn {
            font-size: 1rem;
        }
    }
}
#barRestaurantPageBannerOne {
    img.secondryImage {
        margin-bottom: 50px;
    }
    img.mainImage {
        display: block;
        height: auto;
        width: 100%;
    }
}
#barRestaurantImageBanner {
    height: 200px;
}
#barRestaurantPageWhiskysBanner {
    h2 {
        font-size: 2rem;
    }
    img.mainImage {
        display: block;
        height: auto;
        margin-top: 30px;
        width: 100%;
    }
}
.makeBookingBanner {
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}
#roomsPageTop {
    height: 300px;
    h1 {
        font-size: 2rem;
    }
}
.bookingPageTop {
    height: 300px;
    h1 {
        font-size: 2rem;
    }
}
#contactPageTop {
    height: 300px;
    h1 {
        font-size: 2rem;
    }
}
#contactPageMain {

    ul.socialLinks {
        margin-bottom: 50px;
    }
}




.awardsBanner {
    .awardsWrap {
        flex-direction: row;
    }
}

footer {
    .footerMain {
        ul.socialLinks {
            margin-bottom: 30px;
        }
    }
}
