header {
    .topBar {

        ul.contactDetails {
            flex-direction: row;
            gap: 5px;
            margin-bottom: 10px;
        }
        ul.socialLinks {
            display: block;
        }
    }
    .navbar {
        #frontendMainNavbar {
            padding: 4rem .5rem 1rem .5rem;
        }
        ul {
            li {
                margin-bottom: 5px;
            }
        }
    }
}

#homepageHomeFromHomeBanner {
    .homeFromHomeSlider {
        .owl-item {
            width: 336px !important;
        }
    }
}
#homepageWelcomeBanner {
    padding: 80px 0;
}
