a.darkGoldBtn,
button.darkGoldBtn,
input.darkGoldBtn {
    background-color: $darkGold;
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    color: $w;
    font-family: $libBold;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    @include transition(all .4s ease-in-out);

    .fa-chevron-right {
        font-size: 1rem;
        margin-left: 10px;
        @include transition(all .4s ease-in-out);
    }

    &:hover {
        background-color: $lightGold;
        border: 0;
        box-shadow: none;
        color: $w;
        outline: none;
        text-decoration: none;
        .fa-chevron-right {
            margin-left: 20px;
        }
    }
}
a.blueBtn,
button.blueBtn,
input.blueBtn {
    background-color: $darkBlue;
    border: 0;
    border-radius: 5px;
    color: $w;
    font-family: $libBold;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    @include transition(all .4s ease-in-out);

    .fa-chevron-right {
        font-size: 1rem;
        margin-left: 10px;
        @include transition(all .4s ease-in-out);
    }

    &:hover {
        background-color: lighten($darkBlue, 10%);
        border: 0;
        border-radius: 5px;
        box-shadow: none;
        color: $w;
        outline: none;
        text-decoration: none;

        .fa-chevron-right {
            margin-left: 20px;
        }
    }
}
