header {
    background-color: $lightGrey;
    padding: .5rem 0;
    position: fixed;
    top: 0 ;
    width: 100%;
    z-index: 1080;
    img.adminTopBarLogo {
        display: block;
        height: 70px;
        width: auto;
    }

    .searchWrapper {
        form.searchForm {

            .input-group {
                background-color: $w;
                border: 1px solid $w;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                height: 50px;
                overflow: hidden;
                input[type='search'] {
                    background-color: $w;
                    border: 0;
                    color: $darkBlue;
                    font-size: 1.1rem;
                    height: 50px;
                    padding: 0 .5rem;
                    @include transition(all .4s ease-in-out);
                    width: 90%;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                        border: 0;
                        box-shadow: none;
                        color: $darkBlue;
                        outline: none;
                        text-decoration: none;
                    }
                }
                button.input-group-text {
                    background-color: $w;
                    border: 0;
                    border-radius: 0;
                    color: $darkBlue;
                    font-size: 1.1rem;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        gap: 20px;
        margin: 0;
        li {
            a {
                box-shadow: none;
                color: $darkBlue;
                text-decoration: none;
                &:hover {

                }
            }
            button {
                background-color: transparent;
                border: 0;
                border-radius: 0;
                color :$darkGrey;
                font-size: 1rem;

                &:hover {

                }
            }

            &.dropdown {
                .dropdown-toggle {

                    &.notificationButton {
                        position: relative;

                        span.notifAmount {
                            align-items: center;
                            background-color: $darkGold;
                            border: 0;
                            border-radius: 50%;
                            display: flex;
                            flex-direction: column;;
                            font-size: .9rem;
                            justify-content: center;
                            padding: 1px 8px;
                            position: absolute;
                            right: 8px;
                            top: -15px;
                        }
                    }
                }
                .dropdown-menu {
                    background-color: $lightGrey;
                    border: 1px solid $darkGold;
                    border-radius: 0;
                    -webkit-box-shadow: 3px 10px 20px -15px rgba(0,0,0,0.5);
                    -moz-box-shadow: 3px 10px 20px -15px rgba(0,0,0,0.5);
                    box-shadow: 3px 10px 20px -15px rgba(0,0,0,0.5);
                    height: 400px;
                    overflow-x: auto;
                    padding: 1rem;

                    li.notificationItemInner {
                        border-bottom: 1px solid $darkGold;

                        h5 {
                            color: $darkBlue;
                            font-family: $popBold;
                            font-size: 1.2rem;
                            margin-bottom: 20px;
                        }
                        p {
                            color: $darkBlue;
                            font-family: $popReg;
                            font-size: .9rem;
                        }

                        button.mark-as-read {
                            color: $darkBlue;
                            font-family: $popReg;
                            font-size: .7rem;
                            position: absolute;
                            right: 1rem;
                            top: 1rem;
                            @include transition(all .4s ease-in-out);

                            &:hover {
                                background-color: transparent;
                                border: 0;
                                box-shadow: none;
                                color: $darkGold;
                                outline: none;
                                text-decoration: none;
                            }
                        }
                    }

                    a {
                        color: $darkBlue;
                        font-family: $libReg;
                        font-size: 1rem;
                        @include transition(all .4s ease-in-out);
                        &:hover {
                            background-color: transparent;
                            color: $darkGold;
                        }
                    }
                }
            }


        }

    }
}
